{{#unless session.isAuthenticated}}
	<div class='login-signup__credentials'>
			{{input type='text' value=username placeholder='username'}}
			{{input type='password' value=password placeholder='password'}}
	</div>
{{/unless}}

<div class='login-signup__actions'>
	{{#unless session.isAuthenticated}}
		<button {{action 'loginOrRemove'}} class='btn btn-primary'>Log in</button>
		<button {{action 'signup'}} class='btn btn-default'>Sign up</button>
	{{/unless}}
</div>

{{#if error}}
	<div class='alert alert-danger'>
		{{errorReason}}
	</div>
{{/if}}

{{yield}}
